@charset "utf-8";
html { 
    font-size:100%; 
}
*{
	word-wrap: break-word; 
}
@font-face{
    font-family:"OpenSans";
    src:url(../Fuentes/soberanasansregular.eot) format('eot'), 
    url(../Fuentes/soberanasansregular.ttf) format('eot');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}
body{
    font-family:'OpenSans';
    margin:0px;
    padding:0px;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.loading{
    cursor:progress;
}
#contenedor_form_datos_personales,#cargando_frm,#frm_datos_academicos,#img_cargando,#img_cargando_dt_academicos,#img_enviar_academico{
    display: none;
}
.cursor{
    cursor: pointer;
}
.navbar-default .navbar-nav > li > a:hover{
	color:#FFF;
	background:#093 ;
}
.navbar-default .navbar-nav > li > a:focus {
  	color:#FFF;
	background:#0C3 ;
    outline: none ;
}

.ventana{/*estilo de ventanas emergentes simuladas*/
    display:none;    
    color:#0C0;
    line-height:28px;
    font-size:1rem;
    text-align: center;
}
#center_diag{
	height:200px;
	width:100%;
	position:fixed;
	top:35%;
	display:block;
}	
body {
	height:auto;
	width:100%;
	padding:0px;
	background-color:#FFF;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering:optimizeLegibility;
    overflow-y: auto!important;
    padding: 0px !important;/*corregir error modal de bootboxmin*/
}	    
body.modal-open{/*corregir error modal de bootboxmin*/
    overflow-y: auto!important;
    padding: 0px !important;/*corregir error modal de bootboxmin*/
}    
#contenedor_foto_e{
    min-height: 400px;
}
#div_facebook{
	width:100%;
	height:40px;
	text-align:center;
	display:none
}
#img_ayuda{
	width:40px;
	height:40px;
	position:absolute;
	top:auto;
	bottom:auto;
	right:1%;
}
#img_facebook{
	width:40px;
	height:40px;
	position:absolute;
	top:auto;
	bottom:auto;
	right:5%;
}	
.Banner{/*Titulo*/
	height:auto;
	margin:0px;
	width:100%;
	text-align:center;
	background:#FFF url(../Imagenes/gradient.png) repeat-x;
	position: relative;
}
.limpiar{	
transition:1s ease;
}
.limpiar:hover{
	transform:rotate(360deg);
}
.limpiar:focus{
	transform:rotate(360deg);
    outline: none ;
}
	
select.basicos{/*select imporatantes*/
	width:100%;
	height:30px;
	border-radius: 5px;
	padding:2px;
	font-size:.8rem;
	border: none;
	color:#060;
	margin:10px;
	background: #d2ff52; /* Old browsers */
    background: -moz-linear-gradient(top, #d2ff52 0%, #91e842 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d2ff52 0%,#91e842 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d2ff52 0%,#91e842 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d2ff52 0%,#91e842 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d2ff52 0%,#91e842 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 );
}	

select.basicos:hover{
    background: rgba(210,255,82,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(90,166,18,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(90,166,18,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(90,166,18,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(90,166,18,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(90,166,18,1) 100%);
    background: radial-gradient(ellipse at center, rgba(210,255,82,1) 0%, rgba(90,166,18,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#5aa612', GradientType=1 );  
}
select.basicos:focus{
    background: rgba(210,255,82,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(90,166,18,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(90,166,18,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(90,166,18,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(90,166,18,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(90,166,18,1) 100%);
    background: radial-gradient(ellipse at center, rgba(210,255,82,1) 0%, rgba(90,166,18,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#5aa612', GradientType=1 );  
    outline: none ;
}
.contenedor{/*Contenedor principal*/
    position: relative;
    width: 100%;
    margin:0px;
    color:#000;
    min-height:1400px;
	background: -moz-linear-gradient(top, rgba(104,104,104,1) 0%, rgba(188,188,188,0.52) 48%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,104,104,1)), color-stop(48%,rgba(188,188,188,0.52)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(104,104,104,1) 0%,rgba(188,188,188,0.52) 48%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(104,104,104,1) 0%,rgba(188,188,188,0.52) 48%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(104,104,104,1) 0%,rgba(188,188,188,0.52) 48%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(104,104,104,1) 0%,rgba(188,188,188,0.52) 48%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 fallback on horizontal gradient */
}
#ayuda_diag{
	width:90%;
	height:60%;
	display:none
}
.tabs{
	background:#5DA85D;
}
.font{
	color: #000;
}			
a.active{ /*estilo del tab cuando esta activo*/
	background:#006600 ;
}
.tab a:hover{/*estilo del tab cuando esta en hover*/
	background:#0C3;
}
.tab a:focus{/*estilo del tab cuando esta en hover*/
    outline: none ;
	background:#0C3;
}
@media(min-width:1163px ){
    #div-menu{
        display: none;
    }
	#div_redsocial{
		width:50px;
		position: fixed;
		z-index: 1;
		top:35%;
	}
    img.social{
        width:40px;
        height:40px;
        margin:0px 0px 10px 0px;
        transition:1s ease;
                }
    a.social{
        padding:20px 36px 20px 20px;
        transition: 0.5s;
    }
    a.social:hover{
        padding:20px 70px 20px 20px;
        border-radius:0px 8px 8px 0px}
    a.social:focus{
        padding:20px 70px 20px 20px;
        border-radius:0px 8px 8px 0px;
        outline: none ;
    }
    
    #div_redsocial ul li{
        list-style: none;
        margin-bottom: 40px;
    }
    .facebook:hover{
        background:#FFF url(../Imagenes/social/facebook_.png) no-repeat right;
    }
    .facebook:focus{
        background:#FFF url(../Imagenes/social/facebook_.png) no-repeat right;
        outline: none ;
    }
    .gmail:hover{
        background:#ff3333 url(../Imagenes/social/gmail_b.png) no-repeat right;
    }
    .gmail:focus{
        background:#ff3333 url(../Imagenes/social/gmail_b.png) no-repeat right;
        outline: none ;
    }
    .linkedin:hover{
        background: #000000 url(../Imagenes/social/linkedin_w.png) no-repeat right;
    }
    .linkedin:focus{
        background: #000000 url(../Imagenes/social/linkedin_w.png) no-repeat right;
        outline: none ;
    }
    .tumblr:hover{
        background: #160761 url(../Imagenes/social/tumblr_w.png) no-repeat right;
    }
    .tumblr:focus{
        background: #160761 url(../Imagenes/social/tumblr_w.png) no-repeat right;
        outline: none ;
    }
    .twitter:hover{
        background:#00BCD4 url(../Imagenes/social/twitter_w.png) no-repeat right;
    }
    .twitter:focus{
        background:#00BCD4 url(../Imagenes/social/twitter_w.png) no-repeat right;
        outline: none ;
    }
}
.facebook{
    background:#286090 url(../Imagenes/social/facebookW.png) no-repeat center;
}

.gmail{
    background:#FFF url(../Imagenes/social/gmail_r.png) no-repeat center;
}
.linkedin{
    background:#FFF url(../Imagenes/social/linkedin_b.png) no-repeat center;
}
.tumblr{
    background:#FFF url(../Imagenes/social/tumblr_b.png) no-repeat center;
}
.twitter{
    background:#FFF url(../Imagenes/social/twitter_a.png) no-repeat center;
}
 
@media(max-width:1162px ){
    .facebook:hover{
            background:#FFF url(../Imagenes/social/facebook_.png) no-repeat center;
        }
    .facebook:focus{
        background:#FFF url(../Imagenes/social/facebook_.png) no-repeat center;
        outline: none ;
    }
    .gmail:hover{
        background:#ff3333 url(../Imagenes/social/gmail_b.png) no-repeat center;
    }
    .gmail:focus{
        background:#ff3333 url(../Imagenes/social/gmail_b.png) no-repeat center;
        outline: none ;
    }
    .linkedin:hover{
        background: #000000 url(../Imagenes/social/linkedin_w.png) no-repeat center;
    }
    .linkedin:focus{
        background: #000000 url(../Imagenes/social/linkedin_w.png) no-repeat center;
        outline: none ;
    }
    .tumblr:hover{
        background: #160761 url(../Imagenes/social/tumblr_w.png) no-repeat center;
    }
    .tumblr:focus{
        background: #160761 url(../Imagenes/social/tumblr_w.png) no-repeat center;
        outline: none ;
    }
    .twitter:hover{
        background:#00BCD4 url(../Imagenes/social/twitter_w.png) no-repeat center;
    }
    .twitter:focus{
        background:#00BCD4 url(../Imagenes/social/twitter_w.png) no-repeat center;
        outline: none ;
    }
    #div_redsocial{
        width:300px;
        right:20px;
        margin:0px auto 0px auto;
    }
    #div_botones_social_escritorio{
        position: fixed;
        z-index: 1;
        top:90%;
        width: 100%;
    }
    #div-accesorapido-menu{
        position: fixed;
        z-index: 1;
        top:80%;
        width: 100%;
        display: none;
        height: 50px;
    }
    #div-menu{
        position: relative;
        border-radius: 20px;
        background-color: white;
        height: 50px;
        width: 50px;
        margin: 0px auto;
        border: #0C0 solid 1px;
    }
    #img-acc-menu{
        position: absolute;
        top:0px;
        left:0;
        right:0;
        bottom:0;
        margin: auto;
    }
    img.social{
        width:40px;
        height:40px;
        margin:0px 10px 0px 0px;
        transition:1s ease;
    }
    a.social{
        padding:0px 25px 40px 25px;
        transition: 0.5s;
    }
    a.social:hover{
        border-radius:8px 8px 8px 8px
    }
    a.social:focus{
        border-radius:8px 8px 8px 8px;
        outline: none ;
    }
    #div_redsocial ul{
        overflow: hidden; 
        list-style: none;
    }    
    #div_redsocial ul li{
        float: left;
        height: 60px;
        margin-right:2%;
    }                  
}
img.social:hover{
    width:50px;
    height:50px;
    margin-left: 20px;
}
img.social:focus{
    width:50px;
    height:50px;
    margin-left: 20px;
    outline: none ;
}
#primero,#segundo,#tercero,#cuarto,#quinto,#sexto{
	position:relative;
	margin:0px 5% auto 5%;
	background-color:#FFF; 
	width:90%; 
	min-height:900px;
}
#ayuda{ /*segundo contenedor  ITTJ*/
	position:relative;
	margin:0px 5% auto 5%;
	background-color:#FFF; 
	width:90%; 
	min-height:900px;
}			
#foto_egresado{
	width: auto;
	margin: auto;
}	
#cargando_foto{
	position:absolute;
	right:48%;
	display:none;
	top:45%
}
#contenedor_Datos_Personales{/*estilo del  div principal de datos personales */
	width:auto;
	min-height: 600px;
	position: relative;
	text-align:left;
	color:#000;
	padding:0px;
    background-color: #FFF
}	
#contenedor_form_datos_personales{/*div de formulario de daos personales*/	
	width:auto;
	min-height:600px;
	position:relative;
	padding:0px;
    background-color: #FFF;
    margin-left: 10px;
}	
#contenedor_datos_academicos{/*div principal de datos academicos*/
	min-height:55%;
}
h1.domicilio{/*etiquets de domcilio*/
	text-align:center;
	font-size:1.5rem;
}
b{/*estilo de datos del servidor*/
    color: #5DA85D;
    font-weight:100;
}	
#contendedor_d1{/*div donde se cargan los datos academicos con ajax*/
    width:100%;
    margin-left: 20px;
}	
		
#foto{
	width:100%;
}
input{/*estilo de input del frm datos personales*/
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input.text:hover{/*estilo de input del frm datos personales*/
    background-color:#e7e1e1
} 
input.text:focus{/*estilo de input del frm datos personales*/
    background-color:#e7e1e1;
    outline: none ;
} 
input.text_2{/*estilo de input del frm datos personales*/
	width:100%;
	height:30px;
	border-radius: 5px;
	padding:2px;
	margin-top:10px;
	font-size:.9rem;
	border: 1px solid #999;}
input.text_2:hover{
    background-color: #e7e1e1;
}
input.text_2:focus{
    background-color: #e7e1e1;
    outline: none ;
}
select.domicilio{
	width:100%;
	height:30px;
	border-radius: 5px;
	padding:2px;
	font-size:1.2rem;
	border: 1px solid #999;
	color: #999;
	margin-top:5px
}
select.domicilio:hover{
    background-color: #e7e1e1
}
select.domicilio:focus{
    background-color: #e7e1e1;
    outline: none ;
}
.guardar{/*estilo de boton del frm datos personales*/
    background-color: #006600;
    color: white;
    border: none;
    width: 100%
}	
.guardar:hover {/*estilo de input del frm datos personales*/
    background-color: #5DA85D;
    color: white;     
}
.guardar:focus {/*estilo de input del frm datos personales*/
    background-color: #5DA85D;
    color: white;
}
.enviando{/*estilo de imag enviando*/
    position:absolute;
    left:50%;
    margin-left:-115px;
    top:50%;
    margin-top:-115px;
    display:none;
    cursor: progress;
}
#cancelar{/*img cancelar de frm datos de personales*/
    position:relative;
    margin-left:50%;
    margin-bottom:5px
}
.cargando{/*img cargando datos del servidor*/
    position:absolute;
    top:20%;
    left:50%;
    margin-left:-50px;
    height:100px;
    width:100px;
    cursor: progress;
}			
#datos_academicos{/*datos academicos */
    position:absolute;
    width:100%;
    height:100%;
    background-color:#FFF;
}	
.div_carrera{/*estilo del div cargado del servidor con los datos de las carreras*/
    width:100%;
    min-height:35%;
    text-align:left;
    margin-top:22px;
    position:relative;
    border: 1px solid transparent;
    border-radius: 5px;
}	
.div_carrera:after {
    content:""; 
    background: transparent; 
    position: absolute; 
    bottom: 0;
    height: 1px;
    width: 90%;
    right: 5%;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-top: 3px solid #5DA85D;
}
img.eliminar{/*img eliminar carrera*/
    position:relative;
    display: inline;
    width:29px;
    height:29px;
    left:90%;
    transition:1s ease;
}
#img_limpiar_frm_dt_personales{
    transition:1s ease;
    width:45px; 
    height:45px; 
    margin-left:10px
}
img.editar_academico{/*img editar carrera*/
    position:relativa;
    width:29px;
    height:29px;
    transition:1s ease;
}
input.frm_acedemico_{	
    width:30%;
    height:30px;
    border-radius:5px;
    border: 1px solid #999;
    margin:10px;
    font-size: .9rem;
}
input.frm_acedemico_:hover{	
    background-color: #e7e1e1;
}
input.frm_acedemico_:focus{	
    background-color: #e7e1e1;
    outline: none ;
}
#frm_datos_academicos{/*div de frm de datos academicos*/
    width:100%;
    height:100%;
    text-align:center;
}
#img_guardando_frm_academico{/*img guardando datos academicos en servidor*/
    top:10%;
    left:22%;
    position:absolute
}	
#imgfrm_cancelar_academicos{/*img cancelar frm datos academicos*/
    transition:1s ease;
}
#dt_academicos_idiomas_sw{/*div de idiomas y software*/
    width:100%;
    min-height:400px;
    position: relative
}
#frm_datos_academicos{/*div contenedor de frm datos academicos*/
    background-color:#FFF;
}
#div_carrera_actualizar{/*div carrera que actualizara el egresadp*/
    width:100%;
    height:50%;
    text-align:center;
}	
img.agregar_carrera{/*img agregar carrera */
    transition:1s ease;
    cursor: pointer;
}	
#div-principal-idioma{
    min-height: 300px;
}	
#div_idioma{/*div de idiomas cargados con ajax*/
	width:100%;
	min-height:300px;
	background-color:#FFF;
	top:0px;}
#div_idioma_img{/*div de idiomas cargados con ajax*/
	width:100%;
	height:50%;
	top:0px;}	
#div_frm_idioma{/*frm de idomas*/
	width:100%;
	height:50%;
	background-color: #FFF;
	display:none;
position: relative}	
#img_cancelar_idiomas{/*img cancelar frm idomas*/
	transition:1s ease;}
#div_software{/*div de software*/
    width:100%;
    min-height:200px;
    background-color:#FFF;
    padding-bottom: 60px;
}
#div_frm_software{/*div de frm software*/
    width:100%;
    height:309px;
    display:none;
    background-color:#FFF;
}	
#div_dt_software{/*div de dt software*/
    width:100%;
    min-height:200px;
    background-color:#FFF;
    overflow-y: auto;
    max-height: 400px;
}	
img.eliminar_sw{/*img eliminar carrera*/
    width:20px;
    height:20px;
    transition:1s ease;
}
.td_sw{
    width:50%;
    text-align:center;
}	
p.frm_idiomas{/*parafo idiomas*/
    margin-left:1px;
    text-align:left
}				
input.frm_idiomas_{	/*input de idomas*/
    width:30%;
    height:20px;
    border-radius:5px;
    position:absolute;
    right:10px;
    border: 1px solid #999;
}
input.frm_idiomas_:hover{	/*input de idomas*/
    background-color: #e7e1e1;
} 
input.frm_idiomas_:focus{	/*input de idomas*/
    background-color: #e7e1e1;
    outline: none ;
}         
table.idiomas{/*tabla de idomas cargados del servidor cargada una por cada idioma */
    width:100%;
    height:100%;
    text-align:center;
}	
.tb{
    width:25%;
}	
img.eliminar_idioma{/*img eliminar */
    width:20px;
    height:20px;
    transition:1s ease;
}	
img.enviando_idioma{
    position:absolute;
    right:25%;
    display:none;
    cursor: progress
}
/*estilos del div de empresa*/
#div_empresa{
    width:100%;
    min-height:900px;
}

#div_frm_empresa{/*contenedor del frm de dt empresa*/
    width:98%;
    min-height:900px;
    background-color:#FFF;
    text-align:left;
    padding-left:5px;
    display:none;
}
#div_dt_empresa{/*contenedor de dt empresa*/
    width:100%;
    min-height:900px;
    background-color:#FFF;
    position:absolute;
    top:45px;
}
.img_empresa{
    float:right;
    margin-right:10px;
}	
.div_dt_empresa_Ajax{
    width:100%;
    height:250px;
    font-size: 1.4rem;
}
.div_dt_empresa_Ajax:hover{
    background-color: #b1ffa4;
}				
input.frm_empresa{	/*input de frm empresa*/
    width:90%;
    height:30px;
    border-radius:5px;
    border: 1px solid #999;
    background-color:#FFF;
    margin-top: 15px;
    font-size: .9rem;
}
input.frm_empresa:hover{	/*input de frm empresa*/
    background-color: #e7e1e1
}
input.frm_empresa:focus{	/*input de frm empresa*/
    background-color: #e7e1e1;
    outline: none ;
}
.frm_empresa_{	/*select de empresa*/
    width:90%;
    height:30px;
    border-radius:5px;
    right:10%;
    border: 1px solid #999;
    top:0px;
    margin-top: 15px;
    font-size: .9rem;
}
.frm_empresa_:hover{
    background-color: #e7e1e1    
}
.frm_empresa_:focus{
    background-color: #e7e1e1;
    outline: none ;
}
select.frm_empresa_izd{	/*select de empresa*/
    width:90%;
    height:35px;
    border-radius:5px;
    border: 1px solid #999;
    top:10px;
    font-size:.9rem;
}		
select.frm_empresa_izd:hover{
    background-color:#e7e1e1
}
select.frm_empresa_izd:focus{
    background-color:#e7e1e1;
    outline: none ;
}
img.eliminar_requisito{	/*select de empresa*/
    height:30px;
    position:absolute;
    width:30px;
}
#div_dt_empresa_editar{
    width:100%;
    min-height:100px;
    background-color:#FFF;
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 110px;
}	
img.editar_empresa{/*img editar empresa*/
    margin-left:10%;
    height:30px;
    width:30px;
    transition:1s ease;
    cursor: pointer
}
img.editar_empresa:hover{/*animar img*/
    transform:rotate(360deg);
}
img.editar_empresa:focus{/*animar img*/
    transform:rotate(360deg);
    outline: none ;
}	
img.elimnar_empresa{/*img eliminar empresa*/
    margin-left:10%;
    height:30px;
    width:30px;
    transition:1s ease;
}
	
img.elimnar_empresa:hover{/*animar img*/
    transform:rotate(360deg);
}
img.elimnar_empresa:focus{/*animar img*/
    transform:rotate(360deg);
    outline: none ;
}		
#div_frm_historial{/*formulario de historial*/
    position:absolute;
    top:0px;
    right:0px;
    width:100%;
    height:50%;
    background-color:#FFF;
    display:none;
    padding:5px;
}
#div_dt_historial_empresa{/*dt de ajax*/
    width:100%;
    height:100%;
    background-color:FFF;
}
#div_dt_historial_editar{/*datos de historial a  editar*/
    width:100%;
    height:50%;
    background-color:#FFF;
    font-size:1.5rem;
}
.div_dt_social{
    width:100%;
    height:130px;
    font-size:1.2rem
}
.div_dt_social:hover{
    background-color: #b1ffa4;
}
#div_frm_social{
    width:100%;
    height:99%;
    background-color:#FFF;
    display:none;
    position:absolute;
    right:0px;
    top:0px;
}	
#div_ittj{
    width:100%;
    height:100%;
    padding:5px;
}
#a_residencia{
    height:45px;
    margin-top:20px;
    background:#008049 url(../Imagenes/gradient.png) repeat-x;
    text-decoration:none;
    color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}	
#a_residencia:hover{
    background:#060 url(../Imagenes/gradient.png) repeat-x;
    color:#CF0;
}
#a_residencia:focus{
    background:#060 url(../Imagenes/gradient.png) repeat-x;
    color:#CF0;
    outline: none ;
}
#div_frm_residencia{
    width:90%;
    height:10%;
    display:none;
    margin:auto;
    background-color:#FFF;
    padding:2%;
    font-size:1.2rem;
    text-align:center;
}	
.maps{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#div_contacto{
    height:auto;
    margin:auto;
    text-align:center;
    font-size:1.2rem;
}
#div_ingenieria{
    width: 94%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 3%;
    top: 0px
}	
#div_posgrado{
    width:100%;
    height:100%;	
    display:none;
}
	
#div_dt_posgrado{
    width:100%;
    height:100%;
    background-color:#FFF;
    position:absolute
}	
#div_frm_posgrado{
    width:100%;
    height:100%;
    background-color:#FFF;
    display:none;
}	
#div_img_academia{
    width:100%;
}
#div_academia{
    width: 100%;
    bottom: 0px;
    height: 100%;
    padding: 0px 3%;
    position: relative
}				
									
#frm_pass{
    border: #093 solid 2px;
    border-radius:5px;
    text-align: center;
    padding: 10px;
    width: 95%;
    margin: auto;
}
.span_pass-incorrecto{
    color:#333333;
    background-color:#ff0033;
    border-radius:5px;
    display:none;
    font-size: 1.1rem;
}
#span-pass-correcto{
    color:#0C0;
    background-color:#C3FF88;
    border-radius:5px;
    display:none;
    font-size: 1.1rem;
}

.muy-debil{
    background-color:#ff0033;
    border: 1px solid #ff0033;
}
.debil{
    background-color:#ff9999;
    border: 1px solid #ff9999;
}
.media{
    background-color: #ffcc66;
    border: 1px solid #ffcc66;
}
.alta{
    background-color: #00cc33;
    border: 1px solid #00cc33;
}

.input-pass{
    width: 100%;
    height: 30px;
    margin: 5px auto 5px auto;
    border-radius:5px;
    border: 1px solid #999;
    background-color:#FFF;
}
.input-pass:hover{
    background-color: #e7e1e1;
}
.input-pass:focus{
    background-color: #e7e1e1;
    outline: none ;
}
#pass_nuevo{
    width: 100%;
    height: 30px;
    margin: 5px auto 5px auto;
    border-radius:5px;
    border: 1px solid #999;
}
#div-input-pass{
    text-align: right;
}
#div-recomendaciones{
    text-align: center;
}
#div-ayuda{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

.fondo{
    background-color: #ffffff;
    border:  #093 solid 2px;
}
.img-giro{
    transition: 1s;
}
.display-flex{
    display: flex;
}
.symbol-edit{
    background:transparent url(../Imagenes/editar-verder-pri.png)  center  no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
}
.symbol-edit:hover{
    background:transparent url(../Imagenes/editar-verder-sec.png)  center  no-repeat;
}
.symbol-delete{
    background:transparent url(../Imagenes/eliminar-rojo.png)  center  no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
}
.symbol-delete:hover{
    background:transparent url(../Imagenes/eliminar-verde.png)  center  no-repeat;
}
.symbol-add{
    background:transparent url(../Imagenes/add-verde-pri.png)  center  no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
}
.symbol-cancel{
    background:transparent url(../Imagenes/cancel-verde-pri.png)  center  no-repeat;
}
.symbol-cancel:hover{
    background:transparent url(../Imagenes/cancel-verde-sec.png)  center  no-repeat;
}
.symbol-add:hover{
    background:transparent url(../Imagenes/add-verde-sec.png)  center  no-repeat;
}
.symbol-edit,.symbol-delete,.symbol-add,.symbol-cancel,.limpiar_form,.img_editar{
    cursor: pointer;
}
.limpiar_form{
    background:transparent url(../Imagenes/rubber-verde-pri.png)  center  no-repeat;
}
.limpiar_form:hover{
    background:transparent url(../Imagenes/rubber-verde-sec.png)  center  no-repeat;
}
.display-flex-justify-end{
    display: flex;
    justify-content: flex-end;
}
.margin-both-sides-10{
    margin-left: 10px;
    margin-left: 10px;
}
.margin-sides-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.justify-between{
    justify-content: space-between;
}
.btn-success{
    background-color: #5DA85D;
}
.btn-danger{
    background-color: red;
}
.text-center{
    text-align: center;
}
.data-personal > input,.data-personal > select,.data-personal > div{
    width: 25%;
    margin:10px 1.666%;
    min-width: 200px;
}
.data-personal{
    flex-wrap:wrap
}
.data-personal > h2{
    width: 100%
}
.position-relative{
    position: relative;
}
.element-inside-input{
    position: absolute;
    right:-32px;
    top: 4px;
}