@charset "utf-8";
*{
    margin:0px;/*eliminar borde*/
    padding:0px;
    word-wrap: break-word;
}
body{
background: #FFF url('../Imagenes/gradient.png') repeat-x;
}
#primero{
    
}
#segundo{
 min-height: 400px;
 min-width: 90%;
 display: none;
}
#tercero{
 min-height: 400px;
 min-width: 90%;
 display: none;
}
#div-resultados-avanzado-principal{
    position: relative;
    height: 200px;
}
#div-contenedor-alert{
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
    z-index: -1;
}
#alerta{
    display:none;    
    color: #000000;
    line-height:28px;
    font-size:12px;
    text-align: center;
}
.img-centrada-oculta{
    position: absolute;
    top:0px;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    display: none;
}

#img-cargar-datos-posgrado{
    position: absolute;
    top: 20px;
    right: 50%;
    margin-right: -32px;
}
#img-cargar-datos-social{
   position: absolute;
    top: 20px;
    right: 50%;
    margin-right: -32px; 
}
.img-centrada{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;   
}
.nav-personal{
    background-color: #FF5722;
}

.active{
    background-color:#ff3333;
    font-size: 24px;
    color:#FFF
}
.navbar-default .navbar-nav > li > a:hover{
	color:#FFF;
        background:#ff6666 url(../Imagenes/gradient.png) repeat-x;}
.navbar-default .navbar-nav > li > a:focus {
  	color:#FFF;
	background:#ff6666 url(../Imagenes/gradient.png) repeat-x;
}
.navbar-header:hover{
    background:#ff3333 url(../Imagenes/gradient.png) repeat-x;
} 
#contenedor-buscador{
    position: relative;
}
#div-buscador{
    height: 33px;
    background-color: #FF5722;
    text-align: left;
}
#input-buscador{
    width: 253px;
    height:33px;
    border-left: #FF5722 solid 1px;
    border-bottom:#FF5722 solid 1px;
    border-right: none;
    border-top: none;
    background-color: transparent;
    position: relative;
    left:0px;
    top: 0px;
}
#div-principal{
    position: relative;
    min-height: 450px;
}
#div-contenedor-resultados{
    position: relative;
}
#div-resultados{
    position: absolute;
    width: 100%;
    background-color:#cccccc;
    z-index: 1;
    max-height: 400px;
   display: none;
   overflow-y: auto;
   border: #FF5722 solid 1px;
   
}
#div-barra-busqueda{
    height: 100%;
    width: 285px;
    background-color: #FFF;
    border:none;
    border-radius: 0px 5px 5px 0px;
    margin: 0px auto;
}
#div-buscar-todos{
    height: 33px;
    background: url(../Imagenes/adm/perfil_n.png) #FF5722 top  no-repeat;
    transition: .3s;
    text-align: left;
    position: relative;
}
#div-buscar-todos:hover{
    height: 32px;
    background: url(../Imagenes/adm/perfil_b.png) #FFF top  no-repeat;
    border: #FF5722 solid 1px;
}
#span-buscar-todos{
    font-size: 18px;
    position: relative;
    text-align: center;
    top: 11px;
    display: block;
}

#div-barra-busqueda:hover{
    background-color: #ff7979;  
}

#div-img-encontrar{
    float: right;
    background-color: #efe1e1;
    border-radius: 0px 5px 5px 0px;
    border-bottom: #FF5722 solid 1px;
}
#div-img-encontrar:hover{
    background-color: #ff7979;
}
.div-resultado{
    width:100%;
    height: 80px;
    position: relative;
    overflow: auto;
}
#div-img-cargar-datos-mas{
    width:100%;
    height: 80px;
    position: relative;
}
.div-resultado:hover{
    background-color: #ff7979;
}
.div-miniatura{
    float: right;
    display: inline;
    width: 70%;
    height: 80px;
}
.div-no_control{
  position: relative;
  display: inline;
  width: 20%;
  height: 100%;  
}

.span-no_control{
 position:relative; 
 text-align: center;
 top: 26px;
}
.p-ver-todos{
    text-align: center;
    color: #FF5722;
}
.span-nombre{
 position:relative; 
 text-align: right;
 top: 26px;  
}
#div-resultados-avanzado{
    display: none;
    background-color: #FFF;
}
#div-principal-buscador{
    width: 100%
}
.div-scroll-inactivo{
    position: relative;
    transition: .3s;
}
.div-scroll-activo{
    position: fixed;
    top: 0px;
    z-index: 100;
}
.img-egresado{
    width: 60px;
    height: 60px;
    float: right;
}
#row-datos-academicos{
    min-height: 100px;
}

#div-pefil{
    display: none;
}
#img-foto-egresado{
    max-width: 285px;
    max-height: 285px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
}
#div-foto{
  margin: 0px auto;
  height: 450px;
  position: relative;
}
#div-principal-foto{
    height: 450px;
}

#div-datos-academicos{
    min-height: 450px;
}
#div-principal-ingenieria{
    position: relative;
    min-height: 450px;
}
#div-principal-posgrado{
    position: relative;
    display: none;
    background-color:#FFF;
    min-height: 450px;
    width: 100%;
    overflow-y: auto;
}
#div-principal-img-seleccion{
    height: 64px;
    width: 100%;
    position: relative;
}
#div-img-seleccion{
    width: 192px;
    height: 64px;
    position: relative;
    margin: 0px auto;
}
#div-img-posgrado{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 64px; 
    height: 64px;
    transition: 1s;
}
.div-img-seleccion-hover{
   background-color: #ff7f83;
    border-radius: 10px; 
}
#div-img-posgrado:hover{
     background-color: #ff7f83;
     border-radius: 10px;
}
#div-img-ingenieria{
    position: relative;
    width: 64px; 
    height: 64px;
    transition: 1s;
}
#div-img-ingenieria:hover{
     background-color: #ff7f83;
     border-radius: 10px;
}
.separador{
    background:url('../Imagenes/adm/cabeza.png') #FF5722 center no-repeat;
    height: 17px;
    width: 80%;
    margin: 0px auto;
    border-radius: 5px;
    
}
.separador-posgrado{
    background:url('../Imagenes/adm/posgrado_min.png') #FF5722 center no-repeat;
    height: 17px;
    width: 80%;
    margin: 0px auto;
    border-radius: 5px;
    
}
.separador-posgrado{
    background:url('../Imagenes/adm/posgrado_min.png') #FF5722 center no-repeat;
    height: 17px;
    width: 80%;
    margin: 0px auto;
    border-radius: 5px;
    
}
.separador-empresa{
    background:url('../Imagenes/adm/empresa_min.png') #FF5722 center no-repeat;
    height: 17px;
    width: 80%;
    margin: 0px auto;
    border-radius: 5px;
    
}
.separador-historial{
    background:url('../Imagenes/adm/historial_min.png') #FF5722 center no-repeat;
    height: 17px;
    width: 80%;
    margin: 0px auto;
    border-radius: 5px;
    
}
.separador-social{
    background:url('../Imagenes/adm/torre_min.png') #FF5722 center no-repeat;
    height: 17px;
    width: 80%;
    margin: 0px auto;
    border-radius: 5px;
    
}
#div-principal-datos-academicos{
    position: relative;
}
#div-principal-social{
    min-height: 450px;
}
#div-principal-datos-personales{
    min-height: 450px;
}
#div-principal-datos-idioma{
    position: relative;
    height: 250px;
    font-size: 16px;
}
#div-principal-datos-sw{
    position: relative;
    height: 300px;
    font-size: 16px;    
}
.tabla{
    text-align: center;
    border: none;
}

#div-principal-empresa-completa{
    min-height: 400px;
    display: none;
    position: fixed;
    border: #ff3333 solid 5px;
    border-radius: 5px;
    transition: 2s;
    background-color: #FFF;
    text-align: center;
}
#div-principal-empresa{
   min-height: 450px;
   position: relative; 
}
#div-principal-historial{
  min-height: 450px;
   position: relative;   
}
#div-datos-generales-empresa{
    position: relative;
}
.div-datos-empresa-resultado{
    
}
.div-datos-empresa-resultado:hover{
    background-color: #f3f3f8;
}
.cancel{
    width: 32px;
    height: 32px;
    background:url('../Imagenes/adm/cancel.png') #FFF center no-repeat;
    border-radius: 5px;
    transition: 1s;
    margin: 0 auto;
}
.cancel:hover{
  background:url('../Imagenes/adm/cancel_b.png') #FF3333 center no-repeat;  
}
.margen-izq{
    margin-left: 5px;
}
#div-datos-historial{
    max-height: 1200px;
    overflow-y: auto;
}

#form-estadisticas-fecha-carrera{
    background-color: #FF3333;
    border-radius: 5px;
    width: 95%;
    text-align: center;
}
.boton{
    width: 60%;
    margin: 10px auto;
    height: 40px;
    color: #000;
    border-radius: 5px;
    border: none;
    background:#ffffff url('../img/gradient.png') repeat-x;
}
.boton:hover{
    background-color: #ffb151;
}
.p-ver-mas{
    text-align: center;
}
.p-ver-mas:hover{
    background-color: #ff7979;
}
