@charset "utf-8";
*{
	margin:0px;/*eliminar borde*/
	padding:0px
}
.FondoPrincipal{
	background-color: white;
        width:100%;
	}
	
header {
	width:100%; 
}	
img.centrar{	
    display: block;
	margin: auto;
	border:none;
	position:relative;
}


footer {
	position: relative;
	height: 75px; 
	clear: both;
	text-align: center;
	width:100%}

a{
    color: #00cc33;
    font-size: 20px;
    transition: 1s;
}
a:hover{
    color: #ff0000;
}
a:focus{
    color: #ff0000;
}