@charset "utf-8";
*{
	margin:0px;/*eliminar borde*/
	padding:0px}	
body.degradado{
	width:100%;
        background: #FFF
}

form.egresado {
    background: #FFF;
    position:relative;
    border: 2px solid#4CAF50;
    border-radius:3px;/*Redondear forma */
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -ms-border-radius:3px;
    margin: 22px auto auto auto;
    text-align:center;
    width:95%;
}
.span-password{
    font-size: 18px;
    color: #4CAF50;
    transition: 1s;
}
.span-password:hover{
    color: #003300;
    font-size: 22px;
    background-color:#4CAF50;
    border-radius:5px;
    text-decoration: none
}
.span-password:focus{
    color: #003300;
    font-size: 22px;
    background-color:#4CAF50;
    border-radius:5px;
    text-decoration: none;
    outline: none ;
}
form h1{/*propiedades del titulo del form*/
	text-align:center;
	font-weight:normal;
	font-size:36px;}
form input.egresado{/*Propiedades del input*/
    width:80%;
    height:35px;
    text-align:center;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
    border-radius:5px;
    border: 1px solid#4CAF50; 
}
form input.egresado:hover{
    background:#4CAF50; 
}
form input.egresado:focus{
    background:#4CAF50;
    outline: none ;
}
.icono-adm{
    background: #FF5722 url('../Imagenes/index/icono_adm_w.png') no-repeat top;
    height: 150px;
    text-align: center;
    position: relative;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    width: 95%;
    margin: 50px auto auto auto;
}
.relleno-vol{
   background:#ffffff url('../Imagenes/index/gradient.png') repeat-x;
    
}

.span-adm{
    position:relative;
    top: 78%;
    padding-top: 6px;
    color: #000;
}
.form-sesion{
 background-color:#FF5722;
 text-align: center;
 border-radius: 0px 0px 5px 5px;
 -moz-border-radius: 0px 0px 5px 5px;
 -webkit-border-radius: 0px 0px 5px 5px;
 width: 95%;
 margin: auto;
}
input.adm{
    width: 60%;
    margin: 10px auto;
    height: 40px;
    color: #000;
    border-radius: 5px;
    border: none;
    background:#ffffff url('../img/gradient.png') repeat-x;
}
input.adm:hover{
    background-color: #ffb151;
}
input.adm:focus{
    background-color: #ffb151;
    outline: none ;
}
#egresado{
    background: #4CAF50 url('../Imagenes/index/egresado.png') no-repeat center;
    width: 128px;
    height: 128px;
    text-align:center;
    display: table;
    float: right;
    transition: 1s;
    cursor: pointer;
}
#adm{
    background:#FF5722 url('../Imagenes/index/adm.png') no-repeat center;
    width: 128px;
    height: 128px;   
    text-align: center;
    display: table;
    transition: 1s;
    cursor: pointer;
}
#adm:hover{
    background:#fbbe75 url('../Imagenes/index/adm_n.png') no-repeat center; 
}
#egresado:hover{
    background: #99ff99 url('../Imagenes/index/egresado_v.png') no-repeat center; 
}
.animacion:hover{
  border-radius: 50px;  
}
#adm:focus{
    background:#fbbe75 url('../Imagenes/index/adm_n.png') no-repeat center; 
    outline: none ;
}
#egresado:focus{
    background: #99ff99 url('../Imagenes/index/egresado_v.png') no-repeat center;
    outline: none ;
}
.animacion:focus{
  border-radius: 50px; 
  outline: none ;
}
.titulo{
    display: table-cell;
    vertical-align: middle;
    font-size: 21px;
    visibility: hidden; 
}
#img-info-se{
    width: 60px;
    height: 128px;
    cursor: pointer;
}
#img-info-se:focus{
    outline: none ;
}
#div-col-info{
    position: relative;
    text-align: center
}
#div-col-info-texto{
    display: none;
    text-align: center;
    color: #090;
    font-size: 1em;
    background-color: #FFF;
    
}