@charset "utf-8";
*{
	margin:0px;/*eliminar borde*/
	padding:0px;
	word-wrap: break-word; 
}
.ventana{/*estilo de ventanas emergentes simuladas*/
    display:none;    
    color:#0C0;
    line-height:28px;
    font-size:12px;
    text-align: center;
}
#center_diag{
	height:200px;
	width:100%;
	position:fixed;
	top:35%;
	display:block;}	
body {
	height:auto;
	width:100%;
	padding:0px;
	background-color:#FFF;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering:optimizeLegibility;
	}	
#div_facebook{
	width:100%;
	height:40px;
	text-align:center;
	display:none}
#img_ayuda{
	width:40px;
	height:40px;
	position:absolute;
	top:auto;
	bottom:auto;
	right:1%;}
#img_facebook{
	width:40px;
	height:40px;
	position:absolute;
	top:auto;
	bottom:auto;
	right:5%;}	
	
	.guardar:hover {/*estilo de input del frm datos personales*/
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
	}
.Banner{/*Titulo*/
	height:auto;
	margin:0px;
	width:100%;
	text-align:center;
	font-size:36px;
	background:#FFF url(../Imagenes/gradient.png) repeat-x;
	position: relative;
	}
.limpiar{	
transition:1s ease;
	}
.limpiar:hover{
	transform:rotate(360deg);}		
	
select.basicos{/*select imporatantes*/
	width:100%;
	height:30px;
	border-radius: 5px;
	padding:2px;
	font-size:14px;
	border: none;
	color:#060;
	margin:10px;
	background: #d2ff52; /* Old browsers */
background: -moz-linear-gradient(top, #d2ff52 0%, #91e842 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #d2ff52 0%,#91e842 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #d2ff52 0%,#91e842 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #d2ff52 0%,#91e842 100%); /* IE10+ */
background: linear-gradient(to bottom, #d2ff52 0%,#91e842 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 );}	
	 
.contenedor{/*Contenedor principal*/
    width: 100%;
    margin:0px;
    color:#000;
	height:1400px;
	background: -moz-linear-gradient(top, rgba(104,104,104,1) 0%, rgba(188,188,188,0.52) 48%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,104,104,1)), color-stop(48%,rgba(188,188,188,0.52)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(104,104,104,1) 0%,rgba(188,188,188,0.52) 48%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(104,104,104,1) 0%,rgba(188,188,188,0.52) 48%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(104,104,104,1) 0%,rgba(188,188,188,0.52) 48%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(104,104,104,1) 0%,rgba(188,188,188,0.52) 48%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 fallback on horizontal gradient */
}
#ayuda_diag{
	width:90%;
	height:60%;
	display:none}
.tab{/*estilo de los tab*/

}
.cancelar{/*img cerrar frm sw y datos academicos*/
	transition:1s ease;}				
.cancelar:hover{/*animar img*/
	transform:rotate(360deg);
	}
.tabs{
	background:#090 url(../Imagenes/gradient.png) repeat-x;
	}
.font{
	color: #000;
	font-size:22px}			
a.active{ /*estilo del tab cuando esta activo*/
	background:#7CEE6C url(../Imagenes/gradient.png) repeat-x;}	
.tab a:hover{/*estilo del tab cuando esta en hover*/
	background-color:#F00;}	
@media(min-width:768px ){	
	#div_redsocial{
		width:50px;
		position: fixed;
		z-index: 1;
		top:30%;
	}
        img.social{
            width:40px;
            height:40px;
            margin:0px 0px 10px 0px;
            transition:1s ease;
                    }
        a.social{
            padding:20px 36px 20px 20px;
            transition: 0.5s;
    }
        a.social:hover{
         padding:20px 70px 20px 20px;
        border-radius:0px 8px 8px 0px}
        #div_redsocial ul li{
            list-style: none;
            margin-bottom: 40px;
        }
}
.facebook{
    background:#286090 url(../Imagenes/social/facebookW.png) no-repeat center;
}
.facebook:hover{
    background:#FFF url(../Imagenes/social/facebook_.png) no-repeat right;
}
.gmail{
    background:#FFF url(../Imagenes/social/gmail_r.png) no-repeat center;
}
.gmail:hover{
    background:#ff3333 url(../Imagenes/social/gmail_b.png) no-repeat right;
}
.linkedin{
    background:#FFF url(../Imagenes/social/linkedin_b.png) no-repeat center;
}
.linkedin:hover{
    background: #000000 url(../Imagenes/social/linkedin_w.png) no-repeat right;
}
.tumblr{
    background:#FFF url(../Imagenes/social/tumblr_b.png) no-repeat center;
}
.tumblr:hover{
    background: #160761 url(../Imagenes/social/tumblr_w.png) no-repeat right;
}
.twitter{
    background:#FFF url(../Imagenes/social/twitter_a.png) no-repeat center;
}
.twitter:hover{
    background:#00BCD4 url(../Imagenes/social/twitter_w.png) no-repeat right;
}
@media(max-width:767px ){	
	#div_redsocial{
		width:300px;
		right:20px;
		margin:0px auto 0px auto;
               
                        }
	#div_botones_social_escritorio{
		position: fixed;
		z-index: 1;
		top:90%;
		width: 100%;
                
                                        }
        img.social{
            width:40px;
            height:40px;
            margin:0px 10px 0px 0px;
            transition:1s ease;
                    }
        a.social{
            padding:0px 25px 40px 25px;
            transition: 0.5s;
                }
        #div_redsocial ul{
        overflow: hidden; 
        list-style: none;
                    }    
        #div_redsocial ul li{
            float: left;
            height: 60px;
            margin-right:2%;
        }                  
}

img.social:hover{
width:50px;
height:50px;
margin-left: 20px;
}
#primero{ /*primer contenedor correrpondiente a datos alumno*/
	position:relative;
	margin:0px 5% auto 5%;
	background-color:#FFF; 
	width:90%; 
	height:95%;
	padding:20px;
}

#segundo{ /*segundo contenedor  empresa*/
	position:relative;
	margin:0px 5% auto 5%;
	background-color:#FFF; 
	width:90%; 
	height:97%;
	}

#tercero{ /*segundo contenedor  social*/
	position:relative;
	margin:0px 5% auto 5%;
	background-color:#FFF; 
	width:90%; 
	height:90%;}
#cuarto{ /*segundo contenedor  historial laboral*/
	position:relative;
	margin:0px 5% auto 5%;
	background-color:#FFF; 
	width:90%; 
	height:90%;}
	
#quinto{ /*segundo contenedor  ITTJ*/
	position:relative;
	margin:0px 5% auto 5%;
	background-color:#FFF; 
	width:90%; 
	height:70%;}
	
@font-face{
	font-family:"OpenSans";
	src:url(../Fuentes/soberanasansregular.eot) format('eot'), 
	url(../Fuentes/soberanasansregular.ttf) format('truetype');
	font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased}
			
#foto_egresado{
	width: auto;
	margin: auto;}	
	
#cargando_foto{
	position:absolute;
	right:48%;
	display:none;
	top:45%
	}
	
	
#contenedor_Datos_Personales{/*estilo del  div principal de datos personales */
	width:auto;
	height:40%;
	position: relative;
	text-align:left;
	color:#000;
	padding:0px;
	}	
#contenedor_form_datos_personales{/*div de formulario de daos personales*/	
	width:auto;
	height:52%;
	position: relative;
	padding:0px;}	
#contenedor_datos_academicos{/*div principal de datos academicos*/
	height:55%;
	bottom:10px;}

h1.domicilio{/*etiquets de domcilio*/
	text-align:center;
	font-size:22px;}
b{/*estilo de datos del servidor*/
	color: #090;
	font-weight:100;
	}	
img.editar{/*img editar de formulario de datos personales*/
margin-left:75%;
	transition:1s ease;}
img.editar:hover{/*girar*/
	transform:rotate(360deg);
}
#contendedor_d1{/*div donde se cargan los datos academicos con ajax*/
	width:100%;}	
		
#foto{
	width:100%;
	}
		
	/**/
		
input.text{/*estilo de input del frm datos personales*/
	width:100%;
	height:30px;
	border-radius: 5px;
	padding:2px;
	font-size:16px;
	border: 1px solid #999;
	}	
input.text_2{/*estilo de input del frm datos personales*/
	width:100%;
	height:30px;
	border-radius: 5px;
	padding:2px;
	margin-top:10px;
	font-size:16px;
	border: 1px solid #999;}
select.domicilio{
	width:100%;
	height:30px;
	border-radius: 5px;
	padding:2px;
	font-size:20px;
	border: 1px solid #999;
	color: #999;
	margin-top:5px
	}		
.guardar{/*estilo de boton del frm datos personales*/
		-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
	text-indent:0;
	border:1px solid #268a16;
	display:inline-block;
	color:#000;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:35px;
	width:50%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #aade7c;
	margin-top:10px}	
	
	.guardar:hover {/*estilo de input del frm datos personales*/
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}
.enviando{/*estilo de imag enviando*/
	position:absolute;
	left:50%;
	margin-left:-115px;
	top:50%;
	margin-top:-115px;
	display:none}
#cancelar{/*img cancelar de frm datos de personales*/
position:relative;
margin-left:50%;
margin-bottom:5px}
.cargando{/*img cargando datos del servidor*/
	position:absolute;
	top:20%;
	left:50%;
	margin-left:-50px;
	height:100px;
	width:100px;}			
#datos_academicos{/*datos academicos */
	position:absolute;
	width:100%;
	height:100%;
	background-color:#FFF;
	}	
.div_carrera{/*estilo del div cargado del servidor con los datos de las carreras*/
	width:100%;
	height:35%;
	text-align:left;
	margin-top:22px;
	position:relative;
	border:none;
}	
.div_carrera:hover{
	background-color: #f5f5f5;}
img.eliminar{/*img eliminar carrera*/
	position:absolute;
	top:-24px;
	right:5%;
	width:29px;
	height:29px;
	transition:1s ease;}
#img_limpiar_frm_dt_personales{
	transition:1s ease;
	width:45px; 
	height:45px; 
	margin-left:10px}	
#img_limpiar_frm_dt_personales:hover{
	transform:rotate(360deg);
	}	
img.eliminar:hover{/*animar img*/
	transform:rotate(360deg);}	
img.editar_academico{/*img editar carrera*/
	position:absolute;
	right:20%;
	top:-24px;
	width:29px;
	height:29px;
	transition:1s ease;
	}
img.editar_academico:hover{
	transform:rotate(360deg);}			
input.frm_acedemico_{	
	width:30%;
	height:20px;
	border-radius:5px;
	border: 1px solid #999;
	margin:10px;
	}		
#frm_datos_academicos{/*div de frm de datos academicos*/
	width:100%;
	height:100%;
	text-align:center;}
#img_guardando_frm_academico{/*img guardando datos academicos en servidor*/
	top:10%;
	left:22%;
	position:absolute}	
#imgfrm_cancelar_academicos{/*img cancelar frm datos academicos*/
	
	transition:1s ease;}
#imgfrm_cancelar_academicos:hover{/*animar img*/
	transform:rotate(360deg);
	}		
#dt_academicos_idiomas_sw{/*div de idiomas y software*/
	width:100%;
	height:90%;
	right:1px;
	top:1px;}
#frm_datos_academicos{/*div contenedor de frm datos academicos*/
	background-color:#FFF;}
#div_carrera_actualizar{/*div carrera que actualizara el egresadp*/
	width:100%;
	height:50%;
	text-align:center;
}	
img.agregar_carrera{/*img agregar carrera */
	transition:1s ease;}				
img.agregar_carrera:hover{/*animar img*/
	transform:rotate(360deg);
	}			
	
#div_idioma{/*div de idiomas cargados con ajax*/
	width:100%;
	height:42%;
	background-color:#FFF;
	top:0px;}
#div_idioma_img{/*div de idiomas cargados con ajax*/
	width:100%;
	height:50%;
	top:0px;}	
#div_frm_idioma{/*frm de idomas*/
	width:100%;
	height:50%;
	background-color: #FFF;
	display:none;}	
#img_cancelar_idiomas{/*img cancelar frm idomas*/
	transition:1s ease;}
#img_cancelar_idiomas:hover{/*animar img*/
	transform:rotate(360deg);
	}		
#div_software{/*div de software*/
	width:100%;
	height:50%;
	bottom:0px;
	background-color:#FFF;}
#div_frm_software{/*div de frm software*/
	width:100%;
	height:100%;
	position:absolute;
	bottom:0px;
	display:none;
	background-color:#FFF;}	
#div_dt_software{/*div de dt software*/
	width:100%;
	height:100%;
	position:absolute;
	bottom:0px;
	background-color:#FFF;}	
img.eliminar_sw{/*img eliminar carrera*/
	width:20px;
	height:20px;
	transition:1s ease;}
.td_sw{
	width:50%;
	text-align:center;}	
img.eliminar_sw:hover{/*animar img*/
	transform:rotate(360deg);}	
p.frm_idiomas{/*parafo idiomas*/
	margin-left:1px;
	text-align:left}				
input.frm_idiomas_{	/*input de idomas*/
	width:30%;
	height:20px;
	border-radius:5px;
	position:absolute;
	right:10px;
	border: 1px solid #999;
	}
.div_idiomas{/*div idomas cargados por el servidor*/
	width:100%;
	height:10%;}
.div_sw{/*div sw cargados por el servidor*/
	width:100%;
	height:10%;}		
table.idiomas{/*tabla de idomas cargados del servidor cargada una por cada idioma */
	width:100%;
	height:100%;
	text-align:center;
	}	
.tb{
	width:25%;}	
		
img.editar_idioma:hover{
	transform:rotate(360deg);
}	
img.eliminar_idioma{/*img eliminar carrera*/
	margin-left:20px;
	width:20px;
	height:20px;
	transition:1s ease;}
img.eliminar_idioma:hover{/*animar img*/
	transform:rotate(360deg);}
	
img.enviando_idioma{
	position:absolute;
	right:25%;
	display:none;}
/*estilos del div de empresa*/
#div_empresa{
	width:100%;
	height:100%;}

#div_frm_empresa{/*contenedor del frm de dt empresa*/
	width:98%;
	height:70%;
	background-color:#FFF;
	text-align:left;
	padding-left:5px;
	display:none;}
#div_dt_empresa{/*contenedor de dt empresa*/
	width:100%;
	height:90%;
	background-color:#FFF;
	position:absolute;
	top:45px;
	}
.img_empresa{
	float:right;
	margin-right:10px}	
.div_dt_empresa_Ajax{
	width:100%;
	height:22%;}
.div_dt_empresa_Ajax:hover{
	background-color: #F5F5F5;}				
input.frm_empresa{	/*input de frm empresa*/
	width:90%;
	height:30px;
	border-radius:5px;
	border: 1px solid #999;
	background-color:#FFF;
	margin-top: 15px;
	}
.frm_empresa_{	/*select de empresa*/
	width:90%;
	height:30px;
	border-radius:5px;
	right:10%;
	border: 1px solid #999;
	top:0px;
	margin-top: 15px;
	}	
select.frm_empresa_izd{	/*select de empresa*/
	width:90%;
	height:35px;
	border-radius:5px;
	border: 1px solid #999;
	top:10px;
	}		
	
img.eliminar_requisito{	/*select de empresa*/
	height:30px;
	position:absolute;
	width:30px;
	}
#div_dt_empresa_editar{
	width:100%;
	height:40%;
	background-color:#FFF;
	bottom:0px;
	left:0px;}	
img.editar_empresa{/*img editar empresa*/
	margin-left:10%;
	height:30px;
	width:30px;
	transition:1s ease;}
img.editar_empresa:hover{/*animar img*/
	transform:rotate(360deg);}
	
img.elimnar_empresa{/*img eliminar empresa*/
	margin-left:10%;
	height:30px;
	width:30px;
	transition:1s ease;}
	
img.elimnar_empresa:hover{/*animar img*/
	transform:rotate(360deg);}
		
#div_frm_historial{/*formulario de historial*/
	position:absolute;
	top:0px;
	right:0px;
	width:100%;
	height:50%;
	background-color:#FFF;
	display:none;
	padding:5px;
	}
#div_dt_historial_empresa{/*dt de ajax*/
	width:100%;
	height:100%;
	background-color:FFF;
	}
#div_dt_historial_editar{/*datos de historial a  editar*/
	width:100%;
	height:50%;
	background-color:#FFF;
	font-size:24px;
	
	}
.div_dt_social{
	width:100%;
	height:10%;
	font-size:22px}
#div_frm_social{
	width:100%;
	height:99%;
	background-color:#FFF;
	display:none;
	position:absolute;
	right:0px;
	top:0px;}	
#div_ittj{
	width:100%;
	height:100%;
	padding:5px;}
#a_residencia{
	height:45px;
	margin-top:20px;
	background:#008049 url(../Imagenes/gradient.png) repeat-x;
	text-decoration:none;
	color: #FFF;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;}	
#a_residencia:hover{
	background:#060 url(../Imagenes/gradient.png) repeat-x;
	color:#CF0;}
#div_frm_residencia{
	width:90%;
	height:10%;
	display:none;
	margin:auto;
	background-color:#FFF;
	padding:2%;
	font-size:22px;
	text-align:center;}	
.maps{
	position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */

}
.maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;}

#div_contacto{
	height:auto;
	margin:auto;
	text-align:center;
	font-size:22px;}
#div_ingenieria{
	width:100%;
	height:100%;
	position:absolute;
	bottom:0px;}	
#div_posgrado{
	width:100%;
	height:100%;	
	display:none;}
	
#div_dt_posgrado{
	width:100%;
	height:100%;
	background-color:#FFF;
	position:absolute
	}	
#div_frm_posgrado{
	width:100%;
	height:100%;
	background-color:#FFF;
	display:none;
	}	
#div_img_academia{
	width:100%;
	}
#div_academia{
	width:100%;
	bottom:0px;
	height:100%}				
									
			