@charset "utf-8";
*{
	margin:0px;/*eliminar borde*/
	padding:0px}	
body.degradado{
	width:100%;
        background: #FFF
}

form.egresado {
    background: #FFF;
    position:relative;
    border: 2px solid#4CAF50;
    border-radius:3px;/*Redondear forma */
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -ms-border-radius:3px;
    margin: 50px auto auto auto;
    text-align:center;
    width:95%;
}
form h1{/*propiedades del titulo del form*/
	text-align:center;
	font-weight:normal;
	font-size:36px;}
form input.egresado{/*Propiedades del input*/
    width:60%;
    height:35px;
    text-align:center;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
    border-radius:5px;
    border: 1px solid#4CAF50; 
}
form input.egresado:hover{
    background:#4CAF50; 
}
.icono-adm{
    background: #ffffff url('../Imagenes/index/icono_adm.png') no-repeat top;
    height: 300px;
    text-align: center;
    position: relative;
    transition: 1s;
    border:#FF5722 solid;
    border-radius: 5px;
    margin-top: 50px;
}
.relleno-vol{
   background:#ffffff url('../Imagenes/index/gradient.png') repeat-x;
    
}
.icono-adm:hover{
    background: #FF5722 url('../Imagenes/index/icono_adm_w.png') no-repeat top;
    height: 150px;
    text-align: center;
    position: relative;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    margin-top: 50px;
}
.icono-adm-hover{
    background: #FF5722 url('../Imagenes/index/icono_adm_w.png') no-repeat top;
    height: 150px;
    text-align: center;
    position: relative;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    margin-top: 50px;
}
.span-adm{
    position:relative;
    top: 78%;
    padding-top: 6px;
    color: #000;
}
.form-sesion{
 background-color:#FF5722;
 text-align: center;
 display: none;
 border-radius: 0px 0px 5px 5px;
 -moz-border-radius: 0px 0px 5px 5px;
 -webkit-border-radius: 0px 0px 5px 5px;
}
input.adm{
    width: 60%;
    margin: 10px auto;
    height: 40px;
    color: #000;
    border-radius: 5px;
    border: none;
    background:#ffffff url('../img/gradient.png') repeat-x;
}
input.adm:hover{
    background-color: #ffb151;
}

#egresado{
    background: #4CAF50 url('../Imagenes/index/egresado.png') no-repeat center;
    width: 128px;
    height: 128px;
    text-align:center;
    display: table;
    float: right;
    transition: 1s;
}
#adm{
    background:#FF5722 url('../Imagenes/index/adm.png') no-repeat center;
    width: 128px;
    height: 128px;   
    text-align: center;
    display: table;
    transition: 1s;
}
#adm:hover{
    background:#fbbe75 url('../Imagenes/index/adm_n.png') no-repeat center; 
}
#egresado:hover{
    background: #99ff99 url('../Imagenes/index/egresado_v.png') no-repeat center; 
}
.animacion:hover{
  border-radius: 50px;  
}
.titulo{
    display: table-cell;
    vertical-align: middle;
    font-size: 21px;
    visibility: hidden; 
}
