@charset "utf-8";
*{
    margin:0px;/*eliminar borde*/
    padding:0px;
    word-wrap: break-word;
}
body{
background: #FFF url('../Imagenes/gradient.png') repeat-x;
}
#primero{
    
}
#segundo{
 min-height: 400px;
 min-width: 90%;
 display: none;
}
#tercero{
 min-height: 400px;
 min-width: 90%;
 display: none;
}
#div-resultados-avanzado-principal{
    position: relative;
    height: 200px;
}
#div-contenedor-alert{
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
    z-index: -1;
}
#alerta{
    display:none;    
    color: #000000;
    line-height:28px;
    font-size:12px;
    text-align: center;
}
#div-recomendaciones{
   display:none;    
    color: #000000;
    line-height:28px;
    font-size:12px;
    text-align: center; 
}
#dialogo{
    display:none;    
    color: #000000;
    line-height:28px;
    font-size:12px;
    text-align: center;
}
.img-centrada-oculta{
    position: absolute;
    top:0px;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    display: none;
}

#img-cargar-datos-posgrado{
    position: absolute;
    top: 20px;
    right: 50%;
    margin-right: -32px;
}
#img-cargar-datos-social{
   position: absolute;
    top: 20px;
    right: 50%;
    margin-right: -32px; 
}
.img-centrada{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;   
}
.img-centrar{
    margin: 0px auto;
}
.nav-personal{
    background-color: #FF5722;
}

.active{
    background-color:#ff3333;
    font-size: 24px;
    color:#FFF
}
.navbar-default .navbar-nav > li > a:hover{
	color:#FFF;
        background:#ff6666 url(../Imagenes/gradient.png) repeat-x;}
.navbar-default .navbar-nav > li > a:focus {
  	color:#FFF;
	background:#ff6666 url(../Imagenes/gradient.png) repeat-x;
        outline: none ;
}
.navbar-header:hover{
    background:#ff3333 url(../Imagenes/gradient.png) repeat-x;
} 
#contenedor-buscador{
    position: relative;
}
#div-buscador{
    height: 33px;
    background-color: #FF5722;
    text-align: left;
}
#input-buscador{
    width: 253px;
    height:33px;
    border-left: #FF5722 solid 1px;
    border-bottom:#FF5722 solid 1px;
    border-right: none;
    border-top: none;
    background-color: transparent;
    position: relative;
    left:0px;
    top: 0px;
}
#input-buscador:focus{
    background-color: #ff7979; 
    color: #FFF;
    border:  #003300 solid 1px;
    outline: none ;
}
#div-principal{
    position: relative;
    min-height: 450px;
}
#div-contenedor-resultados{
    position: relative;
    height: 0px;
}
#div-resultados{
    position: absolute;
    width: 100%;
    background-color:#cccccc;
    z-index: 1;
    max-height: 400px;
   display: none;
   overflow-y: auto;
   border: #FF5722 solid 1px;
   
}
#div-barra-busqueda{
    height: 100%;
    width: 285px;
    background-color: #FFF;
    border:none;
    border-radius: 0px 5px 5px 0px;
    margin: 0px auto;
    position: relative;
}
.div-buscar-todos{
    height: 33px;
    background: url(../Imagenes/adm/perfil_n.png) #FF5722 top  no-repeat;
    transition: .3s;
    text-align: left;
    position: relative;
    cursor:pointer;
}
.div-buscar-todos:hover{
    height: 32px;
    background: url(../Imagenes/adm/perfil_b.png) #FFF top  no-repeat;
}
.div-buscar-todos-hover{
    height: 32px;
    background: url(../Imagenes/adm/perfil_b.png) #FFF top  no-repeat;
}
#span-buscar-todos{
    font-size: 18px;
    position: relative;
    text-align: center;
    top: 11px;
    display: block;
}

#div-barra-busqueda:hover{
    background-color: #ff7979;  
}
#div-barra-busqueda:focus{
    background-color: #ff7979;  
    border:  #003300 solid 1px;
    outline: none ;
}

.div-img-encontrar{
    float: right;
    background-color: #efe1e1;
    border-radius: 0px 5px 5px 0px;
    border-bottom: #FF5722 solid 1px;
    cursor:pointer;
}
.div-img-encontrar:hover{
    background-color: #ff7979;
}
.div-img-encontrar-hover{
    background-color: #ff7979;
}
.div-resultado{
    width:100%;
    height: 80px;
    position: relative;
    overflow: auto;
    cursor:pointer;
}
#div-img-cargar-datos-mas{
    width:100%;
    height: 80px;
    position: relative;
}
.div-resultado:hover{
    background-color: #ff7979;
}
.div-resultado:focus{
    background-color: #ff7979;
    border:  #003300 solid 1px;
    outline: none ;
}
#div-principal-empresa:focus{
    background-color: #f3f3f8;
    border:  #003300 solid 1px;
    outline: none ;
}
.div-miniatura{
    float: right;
    display: inline;
    width: 70%;
    height: 80px;
}
.div-no_control{
  position: relative;
  display: inline;
  width: 20%;
  height: 100%;  
}

.span-no_control{
 position:relative; 
 text-align: center;
 top: 26px;
}
.p-ver-todos{
    text-align: center;
    color: #FF5722;
}
.span-nombre{
 position:relative; 
 text-align: right;
 top: 26px;  
}
#div-resultados-avanzado{
    display: none;
    background-color: #FFF;
}
#div-principal-buscador{
    width: 100%
}
.div-scroll-inactivo{
    position: relative;
    transition: .3s;
}
.div-scroll-activo{
    position: fixed;
    top: 0px;
    z-index: 100;
}
.img-egresado{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    right: 10px;
}
#row-datos-academicos{
    min-height: 100px;
}

#div-pefil{
    display: none;
}
#img-foto-egresado{
    max-width: 285px;
    max-height: 285px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
}
#div-foto{
  margin: 0px auto;
  height: 450px;
  position: relative;
}
#div-principal-datos-personales:focus{
    background-color: #f3f3f8;
   border:  #003300 solid 1px;
   outline: none ;
}
#div-principal-foto:focus{
    background-color: #f3f3f8;
    border:  #003300 solid 1px;
    outline: none ;
}
#div-principal-datos-sw:focus{
    background-color: #f3f3f8;
    border:  #003300 solid 1px;
    outline: none ;
}
#div-principal-datos-idioma:focus{
    background-color: #f3f3f8;
    border:  #003300 solid 1px;
    outline: none ;
}
#div-datos-historial:focus{
  background-color: #f3f3f8; 
  border:  #003300 solid 1px;
  outline: none ;
}
#div-principal-foto{
    height: 450px;
}

#div-datos-academicos{
    min-height: 450px;
}
#div-datos-academicos:focus{
    background-color: #f3f3f8;
    border:  #003300 solid 1px;
    outline: none ;
}
#div-datos-posgrado:focus{
   background-color: #f3f3f8;
   border:  #003300 solid 1px;
   outline: none ;
}
#div-principal-social:focus{
   background-color: #f3f3f8; 
   border:  #003300 solid 1px;
   outline: none ;
}
#div-principal-ingenieria{
    position: relative;
    min-height: 450px;
}
#div-principal-posgrado{
    position: relative;
    display: none;
    background-color:#FFF;
    min-height: 450px;
    width: 100%;
    overflow-y: auto;
}
#div-principal-img-seleccion{
    height: 64px;
    width: 100%;
    position: relative;
}
#div-img-seleccion{
    width: 192px;
    height: 64px;
    position: relative;
    margin: 0px auto;
}
#div-img-posgrado{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 64px; 
    height: 64px;
    transition: 1s;
}
.div-img-seleccion-hover{
   background-color: #ff7f83;
    border-radius: 10px; 
}
#div-img-posgrado:hover{
     background-color: #ff7f83;
     border-radius: 10px;
}
#div-img-posgrado:focus{
     background-color: #ff7f83;
     border-radius: 10px;
     border:  #003300 solid 1px;
     outline: none ;
}
#div-img-ingenieria{
    position: relative;
    width: 64px; 
    height: 64px;
    transition: 1s;
}
#div-img-ingenieria:hover{
     background-color: #ff7f83;
     border-radius: 10px;
}
#div-img-ingenieria:focus{
     background-color: #ff7f83;
     border-radius: 10px;
     border:  #003300 solid 1px;
     outline: none ;
}
.separador{
    background:url('../Imagenes/adm/cabeza.png') #FF5722 center no-repeat;
    height: 17px;
    width: 80%;
    margin: 0px auto;
    border-radius: 5px;
    
}
.separador-posgrado{
    background:url('../Imagenes/adm/posgrado_min.png') #FF5722 center no-repeat;
    height: 17px;
    width: 80%;
    margin: 0px auto;
    border-radius: 5px;
    
}
.separador-posgrado{
    background:url('../Imagenes/adm/posgrado_min.png') #FF5722 center no-repeat;
    height: 17px;
    width: 80%;
    margin: 0px auto;
    border-radius: 5px;
    
}
.separador-empresa{
    background:url('../Imagenes/adm/empresa_min.png') #FF5722 center no-repeat;
    height: 17px;
    width: 80%;
    margin: 0px auto;
    border-radius: 5px;
    
}
.separador-historial{
    background:url('../Imagenes/adm/historial_min.png') #FF5722 center no-repeat;
    height: 17px;
    width: 80%;
    margin: 0px auto;
    border-radius: 5px;
    
}
.separador-social{
    background:url('../Imagenes/adm/torre_min.png') #FF5722 center no-repeat;
    height: 17px;
    width: 80%;
    margin: 0px auto;
    border-radius: 5px;
    
}
#div-principal-datos-academicos{
    position: relative;
}
#div-principal-social{
    min-height: 450px;
}
#div-principal-datos-personales{
    min-height: 450px;
}
#div-principal-datos-idioma{
    position: relative;
    height: 250px;
    font-size: 16px;
}
#div-principal-datos-sw{
    position: relative;
    height: 300px;
    font-size: 16px;    
}

.tabla{
    text-align: center;
    border: none;
}

#div-principal-empresa-completa{
    min-height: 400px;
    display: none;
    position: fixed;
    border: #ff3333 solid 5px;
    border-radius: 5px;
    transition: 2s;
    background-color: #FFF;
    text-align: center;
}
#div-principal-agregar-egresado{
    min-height: 200px;
    display: none;
    position: relative;
    border: #FF5722 solid 5px;
    border-radius: 5px;
    transition: 2s;
    background-color: #FFF;
    text-align: center; 
    top:0px;
}
#div-principal-empresa{
   min-height: 450px;
   position: relative; 
}
#div-principal-historial{
  min-height: 450px;
   position: relative;   
}
#div-datos-generales-empresa{
    position: relative;
}
.div-datos-empresa-resultado{
    cursor:pointer;
}
.div-datos-empresa-resultado:hover{
    background-color: #f3f3f8;
}
.div-datos-empresa-resultado:focus{
    background-color: #f3f3f8;
    outline: none ;
}
#div-datos-empresa:focus{
    background-color: #f3f3f8;
    border:  #003300 solid 1px;
    outline: none ;
}
.cancel{
    width: 32px;
    height: 32px;
    background:url('../Imagenes/adm/cancel.png') #FFF center no-repeat;
    border-radius: 5px;
    transition: 1s;
    margin: 0 auto;
    cursor:pointer;
}
.cancel:hover{
  background:url('../Imagenes/adm/cancel_b.png') #FF3333 center no-repeat;  
}
.cancel:focus{
  outline: none ;  
  border:  #003300 solid 1px;
}
.margen-izq{
    margin-left: 5px;
}
#div-datos-historial{
    max-height: 1200px;
    overflow-y: auto;
}

#form-estadisticas-fecha-carrera{
    background-color: #FF3333;
    border-radius: 5px;
    width: 95%;
    text-align: center;
}
.boton{
    width: 60%;
    margin: 10px auto;
    height: 40px;
    color: #000;
    border-radius: 5px;
    border: none;
    background:#ffffff url('../Imagenes/gradient.png') repeat-x;
}
.boton:hover{
    background-color: #ffb151;
}
.boton:focus{
    background-color: #ffb151;
    outline: none ;
}
.guardar{
    width: 60%;
    margin: 10px auto;
    height: 40px;
    color: #000;
    border-radius: 5px;
    border: #FF5722 solid 1px;
    background:#ffffff url('../Imagenes/gradient.png') repeat-x;
}
.guardar:hover{
    background: rgba(240,47,23,1);
background: -moz-linear-gradient(45deg, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 8%, rgba(230,87,69,1) 51%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(240,47,23,1)), color-stop(8%, rgba(240,47,23,1)), color-stop(51%, rgba(230,87,69,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(45deg, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 8%, rgba(230,87,69,1) 51%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(45deg, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 8%, rgba(230,87,69,1) 51%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(45deg, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 8%, rgba(230,87,69,1) 51%, rgba(231,56,39,1) 100%);
}
.guardar:focus{
    background: rgba(240,47,23,1);
background: -moz-linear-gradient(45deg, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 8%, rgba(230,87,69,1) 51%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(240,47,23,1)), color-stop(8%, rgba(240,47,23,1)), color-stop(51%, rgba(230,87,69,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(45deg, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 8%, rgba(230,87,69,1) 51%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(45deg, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 8%, rgba(230,87,69,1) 51%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(45deg, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 8%, rgba(230,87,69,1) 51%, rgba(231,56,39,1) 100%);
outline: none ;
}
.p-ver-mas{
    text-align: center;
}
.p-ver-mas:hover{
    background-color: #ff7979;
}
.p-ver-mas:focus{
    background-color: #ff7979;
    border:  #003300 solid 1px;
    outline: none ;
}
#div-agregar-egresado{
   background:#FF5722 url('../Imagenes/adm/agregar_b.png') center no-repeat ;
   height: 33px;
   transition: 1s;
   cursor:pointer;
}
#div-agregar-egresado:hover{
   background:#FFF url('../Imagenes/adm/agregar_n.png') left no-repeat ;
}
#div-agregar-egresado:focus{
   background:#FFF url('../Imagenes/adm/agregar_n.png') left no-repeat ;
   outline: none ;
}
#span-agregar-egresado{
   font-size:18px;
   margin-left: 32px;
   display: none;
   text-align: center;
}

#div-cerrar-agregar-egresado{
    width: 32px;
    height: 32px;
    background:url('../Imagenes/adm/cancel_w.png') #FF5722 center no-repeat;
    border-radius: 5px;
    transition: 1s;
    margin: 0 auto;
}
#div-cerrar-agregar-egresado:hover{
  background:url('../Imagenes/adm/cancel_a.png') #FFF center no-repeat;  
}
#div-cerrar-agregar-egresado:focus{
  background:url('../Imagenes/adm/cancel_a.png') #FFF center no-repeat;   
  border:  #003300 solid 1px;
  outline: none ;
}
.img-mininmizar{
    height: 32px;
    width: 32px;
   position: absolute;
}
.img-mininmizar:hover{
    border: #FFF solid 1px;
    border-radius: 5px;
}
.img-mininmizar:focus{
    border: #FFF solid 1px;
    border-radius: 5px;
    outline: none ;
}
.img-minimizar-borrar{
    height: 30px;
    width: 30px;
    position: absolute;
    margin-left: 32px;
}
.img-minimizar-borrar:hover{
    border: #FFF solid 1px;
    border-radius: 5px;
}
.img-minimizar-borrar:focus{
    border: #FFF solid 1px;
    border-radius: 5px;
    outline: none ;
}
@media(min-width: 360px){
   #form-agregar-egresado{
    background-color: #FF5722;
    border-radius: 0px 0px 5px 5px;
    width: 95%;
    text-align: center;
    margin: 0 auto;
} 
}

@media(max-width:359px){
    #form-agregar-egresado{
    background-color: #FF5722;
    width: 100%;
    text-align: center;
    margin: 0 auto;
} 
}
#div-eliminar-egresado{
    background: #FF5722 url("../Imagenes/adm/less_b.png") no-repeat scroll center center;
    height: 33px;
    transition: all 1s ease 0s;
    position: relative;
    cursor:pointer;
}
#div-eliminar-egresado:hover{
   background:#FFF url('../Imagenes/adm/less_o.png') left no-repeat ;
}
#div-eliminar-egresado:focus{
   background:#FFF url('../Imagenes/adm/less_o.png') left no-repeat ;
   outline: none ;
}
#span-eliminar-egresado{
   font-size:18px;
   margin-left: 32px;
   display: none;
   text-align: center;
}
#div-row-eliminar-egresado{
    display: none;
}
#div-col-frm-agregar-administradores{
    min-height: 374px;
    position: relative;
    border: #FF5722 solid 5px;
    transition: 2s;
    background-color: #FFF;
    text-align: center; 
    top:0px;
}

.formularios{
    width: 100%;
    border-radius:5px;
    text-align:center;
}
.input{
    width: 60%;
    margin: 10px auto;
    height: 40px;
    color: #000;
    border-radius: 5px;
    border: #FF5722 solid 1px;
    background:#ffffff url('../Imagenes/gradient.png') repeat-x;
}
#input-administrador-password{
   width: 60%;
    margin: 10px auto;
    height: 40px;
    color: #000;
    border-radius: 5px;
    border: #FF5722 solid 1px; 
}
#input-administrador-password-editar{
   width: 60%;
    margin: 10px auto;
    height: 40px;
    color: #000;
    border-radius: 5px;
    border: #FF5722 solid 1px; 
}

.input:hover{
    background-color: #ffb151;
}
.input-hover{
    background-color: #ffb151;
}
.input:focus{
    background-color: #ffb151;
    outline: none ;
}
#div-col-frm-borrar-administradores{
    min-height: 374px;
    position: relative;
    border: #FF5722 solid 5px;
    transition: 2s;
    background-color: #FFF;
    text-align: center; 
    top:0px;
}

.span_pass-incorrecto{
    color:#333333;
    background-color:#ff0033;
    border-radius:5px;
    display:none;
    font-size: 18px;
}
#span-pass-correcto{
    color:#0C0;
    background-color:#C3FF88;
    border-radius:5px;
    display:none;
    font-size: 18px;
}
#span-pass-correcto-editar{
    color:#0C0;
    background-color:#C3FF88;
    border-radius:5px;
    display:none;
    font-size: 18px;
}

.muy-debil{
    background-color:#ff0033;
    border: 1px solid #ff0033;
}
.debil{
    background-color:#ff9999;
    border: 1px solid #ff9999;
}
.media{
    background-color: #ffcc66;
    border: 1px solid #ffcc66;
}
.alta{
    background-color: #00cc33;
    border: 1px solid #00cc33;
}

#img-ayuda-pass{
    display: none;
}
#img-ayuda-pass-editar{
    display: none;
}
.margen-top{
    margin-top: 10px;
}

#div-col-frm-editar-administradores{
    min-height: 374px;
    position: relative;
    border: #FF5722 solid 5px;
    transition: 2s;
    background-color: #FFF;
    text-align: center; 
    top:0px;
}
.div-contenedor{
    min-height: 374px;
    position: relative;
    border: #FF5722 solid 5px;
    transition: 2s;
    background-color: #FFF;
    text-align: center; 
}
#div-row-principal-datos-escuela{
   min-height: 374px; 
}

b{
    color: #15a30a;
    font-weight: normal;
}
#div-principal-frm-datos-escuela{
    display: none;
    min-height: 586px;
    position: relative
}
#div-principal-img-datos-escuela{
    position: relative;
    height: 128px;
}
.img-giro{
    transition: 1s;
    cursor:pointer;
}
.img-giro:hover{
        transform : rotate(360deg);
	-moz-transform : rotate(360deg); /* Firefox */
	-webkit-transform : rotate(360deg); /* Chrome - Safari */
	-o-transform : rotate(360deg); /* Opera */
}
.img-giro:focus{
        transform : rotate(360deg);
	-moz-transform : rotate(360deg); /* Firefox */
	-webkit-transform : rotate(360deg); /* Chrome - Safari */
	-o-transform : rotate(360deg); /* Opera */
        outline: none ;
}
#div-principal-datos-escuela{
    min-height: 586px;
}
#div-row-principal-img-escuela{
    position: relative;
    min-height: 200px;
}
#div-col-img-mexico{
    position: relative;
    height: 128px;
}
#div-col-img-jalisco{
   position: relative;
   height: 128px; 
}
#div-img-estadisticas{
    position: relative;
    height: 128px;
}
#div-img-adm{
  position: relative;
    height: 128px;  
}

#div-col-img-idioma,#div-row-img-carrera{
    min-height: 128px;
    position: relative
}
#div-col-img-carrera{
position: relative;
height: 128px;
}
.img-info{
    margin-left: 5px;
    cursor:pointer;
}
.loading{
    cursor:progress;
}